
<html>
<head>
  <div class="center">
  <div class="player">
    <h1>
      Name: <%= @player.nameFirst %> <%= @player.nameLast %>
    </h1>
    <h4>
      <table>
        <div class="center">
        <tr>
          <td>Bats:</td>
          <td><%= Player::BATS[@player.bats] %></td>
          <td>Throws:</td>
          <td><%= Player::THROWS[@player.throws] %></td>
        </tr>
        <tr>
          <td>First Game:</td>
          <td><%= string_date(@player.debut) %></td>
        </tr>
        <tr>
          <td>Last Game:</td>
          <td><%= string_date(@player.finalGame) %></td>
        </tr>
       <tr>
          <td>Born:</td>
          <td><%= birth_date_formatter(@player) %></td>
          <td><%= @player.birthCity %></td>
          <td><%= @player.birthState %></td>
          <td><%= @player.birthCountry %></td>
        </tr>
        <tr>
          <td>Died:</td>
          <td><%= death_date_formatter(@player)  %></td>
        </tr>
      </div>
      </table>
    </h4>
  </div>

  <div class="batting">
    <h6>
      <table>
        <thead>
        <tr>
          <th>YEAR</th>
          <th>TEAM</th>
          <th>LG</th>
          <th>G</th>
          <th>AB</th>
          <th>AVG</th>
          <th>R</th>
          <th>H</th>
          <th>2B</th>
          <th>3B</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>CS</th>
          <th>BB</th>
          <th>SO</th>
          <th>IBB</th>
          <th>HBP</th>
          <th>SH</th>
          <th>SF</th>
          <th>GIDP</th>
          <th>OBP</th>
          <th>TB</th>
        </tr>
        </thead>
        <% @batting.each do |b| %>
            <tr>
              <td><%= b.yearID %></td>
              <td><%= b.teamID %></td>
              <td><%= b.lgID %></td>
              <td><%= b.G %></td>
              <td><%= b.AB %></td>
              <td><%= decimal_display(b.batting_average) %></td>
              <td><%= b.R %></td>
              <td><%= b.H %></td>
              <td><%= b.double %></td>
              <td><%= b.triple %></td>
              <td><%= b.HR %></td>
              <td><%= b.RBI %></td>
              <td><%= b.SB %></td>
              <td><%= b.CS %></td>
              <td><%= b.BB %></td>
              <td><%= b.SO %></td>
              <td><%= b.IBB %></td>
              <td><%= b.HBP %></td>
              <td><%= b.SH %></td>
              <td><%= b.SF %></td>
              <td><%= b.GIDP %></td>
              <td><%= decimal_display(b.on_base_percentage) %></td>
              <td><%= b.total_bases %></td>
            </tr>
        <% end %>
      </table>
    </h6>
  </div>
  </div>
</head>
</html>


