
.batting {

  padding: 10px;

  table {
    border: 3px solid black;
    border-collapse: collapse;
  }

  th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  tr {
    border: 1px solid;
  }

  td {
    padding: 2px 0.7rem;
    border: 1px black;
    border-collapse: collapse;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
  }

  tbody td:nth-of-type(odd),
  thead th:nth-of-type(odd) {
    background: orange;
  }
}

