// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player {

  padding: 10px;

  th, td {

    padding: 2px 10px;
  }
}
