<!DOCTYPE html>
<html>
<head>
  <title>MlbStats</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= form_tag player_search_path do %>

      <div class="center">
        First Name:
        <%= text_field_tag :nameFirst, params[:nameFirst] %>
        Last Name:
        <%= text_field_tag :nameLast, params[:nameLast] %>
      </div>
      <div class="center">
        <%= submit_tag "Search", name: nil %>
      </div>

<% end %>

</body>
</html>
